<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cwApp/css/index.css' %}">
</head>
<body>
<div class="container">
    <nav>
<a href="{% url 'index' %}"><img src="{% static 'cwApp/images/download.png' %}" alt="Codecrew Logo"></a>
<a href="{% url 'about' %}">About Us</a>
<a href="{% url 'gallery' %}">Gallery</a>
<a href="{% url 'resources' %}">Resources</a>
<a href="{% url 'contact' %}">Contact</a>
    </nav>



<section class="sidebar">

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in odio augue. Ut nec faucibus libero. Proin pulvinar sapien et augue fringilla finibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In urna ante, pellentesque vel lectus eget, malesuada commodo orci. Nunc placerat finibus nisl, non congue felis tempus a. Aliquam viverra dui lectus, sit amet mattis mauris placerat ut. Quisque nec nisl aliquet, hendrerit ligula eu, consequat felis.

    Maecenas eleifend mauris eleifend massa fringilla, vitae commodo ipsum eleifend. Etiam eleifend mollis magna, eu congue mi laoreet a. Ut vel imperdiet est. Vestibulum sed tempus orci. Donec tincidunt turpis eget pellentesque euismod. Phasellus faucibus venenatis neque, sed ullamcorper eros molestie quis. Donec blandit mi at leo elementum congue. Donec sem mi, mattis vitae porta vitae, dignissim vitae ipsum. Suspendisse a vulputate odio, vel dapibus lectus. Duis non velit odio. Phasellus sollicitudin tortor vitae ligula euismod, a pulvinar enim ultrices. Quisque dolor tellus, suscipit id molestie ac, finibus id velit. Aenean pellentesque metus sed pharetra mollis. Aenean nunc magna, consectetur at volutpat vitae, volutpat a justo. Fusce bibendum pellentesque leo, quis congue justo ultrices eu. Vivamus a venenatis arcu, non sagittis diam.

    Nulla porta volutpat odio vitae interdum. In posuere enim a interdum fringilla. Duis vitae sagittis massa. Integer pellentesque sagittis magna, ut scelerisque elit aliquet at. Vestibulum luctus viverra magna vel vehicula. Nulla mollis, justo id dictum semper, erat dolor molestie erat, eu rutrum ipsum orci nec urna. Sed sit amet ornare purus.

    Suspendisse tempor auctor scelerisque. Cras tristique luctus nisl eget pretium. Quisque eu egestas urna. Donec imperdiet ullamcorper nisi. Vestibulum a mollis est, nec sagittis sapien. Mauris posuere molestie tellus a ornare. Quisque justo massa, vestibulum eget accumsan ut, sollicitudin sit amet ante. Etiam suscipit eleifend ex a eleifend. Praesent tristique ut odio ut pretium. Integer mattis neque non bibendum venenatis. Fusce ut magna purus. Phasellus nibh eros, aliquam a erat vitae, tristique suscipit lacus. Suspendisse quis faucibus odio. Aliquam et lectus convallis, placerat dui eget, commodo enim. Aenean tincidunt orci in suscipit efficitur.

    Proin sit amet turpis viverra, venenatis dolor non, scelerisque sapien. Duis a commodo eros. Aliquam facilisis, sapien non fermentum faucibus, metus tellus porttitor lorem, ac suscipit turpis libero in lacus. Pellentesque et tellus nec diam blandit pretium. Phasellus vulputate magna nunc, ac faucibus arcu condimentum a. Suspendisse porta vel dolor at pretium. Praesent volutpat nisi vel eros bibendum elementum. Praesent suscipit, tortor ut ultrices tempor, mi nisi luctus lorem, id vulputate justo ex eu risus. Nulla facilisi. Nulla malesuada tortor lectus, sit amet gravida metus mollis vel. Quisque est turpis, feugiat quis malesuada sit amet, pretium eget quam. Aliquam erat volutpat. Fusce dui arcu, suscipit ut semper sit amet, pulvinar ut augue. Etiam nunc nisi, mattis ut risus vel, imperdiet venenatis leo. Phasellus blandit mattis ornare. Duis ac sapien eget urna tincidunt sodales sed et velit.
</section>
<article class="mainsection">
{% block header %}
{% endblock header %}
</article>
<footer>
{% block footer %}
Footer test
{% endblock footer %}
</footer>
</div>
</body>
</html>