{% extends 'cwApp/base.html' %}

{% block header %}

{% load static %}
<article class = 'homegrid'>
<img id=t1 src="{% static 'cwApp/images/gallery.jpeg' %}" alt="man and woman at coding event">


<img id=t2 src="{% static 'cwApp/images/gallery.jpeg' %}" alt="man and woman at coding event">


<img id=t3 src="{% static 'cwApp/images/gallery.jpeg' %}" alt="man and woman at coding event">


<img id=t4 src="{% static 'cwApp/images/gallery.jpeg' %}" alt="man and woman at coding event">

</article>


{% endblock header %}
