{% extends 'cwApp/base.html' %}

{% block header %}
<article class = 'homegrid'>

<div id="s1">
    Discover Our After School Programs
    & Get Registered Today
    Our programs expose students to producing technology and provide them in-depth training that keeps them interested and engaged across a continuum of subjects and grade levels.



</div>

    <div id="s2">
        Get CodeCrew Programs
        at Your School or Organization
        Partner with us and make computer science and tech education available to the students you serve at your school or organization.
    </div>
    <div id="s3">
        Join the CodeCrew Team
        CodeCrew is passionate about mentoring youth to be tech leaders and innovators throughout Memphis and we are always looking for brilliant people to join our team. Learn more about our open positions below and submit your resume to us for the position that best fits you.
    </div>
    <div id="s4">
        Donate Now & Make Computer Science Education Accessible to More Students and Schools
        Making a donation means we are able to mentor more kids in computer science, equip them with 21st century tech skills, and prepare them for futures in the tech industry.
    </div>

</article>
{% endblock header %}

